<h1>Bookmarks page:</h1>
<%if @bookmarks %>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li> 
       <a href = "<%= bookmark.url %>"> 
         <%= bookmark.title%>
       </a>
      </li>
    <% end %>
  </ul>
<% end %>
<form action="/newbookmark_page" method="get">
  <input type="submit" value="Add New Bookmark">
</form>