<form action="/add_bookmark" method="post">
  <p style="display: inline;">URL:</p>
  <input style="display: inline;" type="text" name="bookmark">
  <p style="display: inline;">TITLE:</p>
  <input type="text" name="title">
  <input type="submit" value="Submit Bookmark">
</form>
<form action="/bookmarks" method="get">
  <input type="submit" value="Return to Bookmarks">
</form>